.navbar {
    height: 115px;
}

nav h1 {
    height: 115px;
    padding: 32px 16px 0 16px;
    margin: 47px;
}
body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(204, 238, 255)), to(rgb(247, 204, 255))) fixed; /* Gradient code is from Overstack: https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats */
}