.navbar {
    height: 115px;
}

nav h1 {
    height: 115px;
    padding: 32px 16px 0 16px;
    margin: 47px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    margin-bottom: 0;
    font-size: 9px;
    text-align: center;
}
body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(204, 238, 255)), to(rgb(247, 204, 255))) fixed; /* Gradient code is from Overstack: https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats */
}

.card {
    margin: 48px 48px 100px 48px;
}
.btn {
    width: 100px;
}

/* @media (min-width: 768px) {
    .card {
        margin-top: 20px 0px 0px 0px
    }
} */
