.border-info {
    border-top-width: 5px !important;;
    text-align: center;
}
h1 {
    font-family: Merriweather;
}
header h1 {
    text-align: center;
    margin: 0 0 0 47px;
    float: left;
}
.col-md-4 {
    width: 35%
}
.col-md-8 {
    width: 65%
}

header {
    border-bottom: 1px solid lightgray;
}
.links li {
    float: right;
    list-style: none;
    padding: 55px 20px 0 0;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    margin-bottom: 0;
    font-size: 9px;
}
.container-fluid {
    background-color: rgb(247, 248, 250)
}
/* @media (min-width: 980px) {
    /* nav, header h1 {
       width: 100%;
    } */
    
    /* nav {
    position: fixed;
    top: 15%;
} */
